/* 页面主体 */
body{
	padding: 0;
	margin: 0;
	padding-top: 100px;
	background: url(../img/background.jpg) no-repeat -300px -300px;
	background: -webkit-linear-gradient(to right, #FFEDBC, #ED4264);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFEDBC, #ED4264); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.about_text{
	width: 450px;
}

@media only screen and (max-width:1800px) {
	body{
		background: url(../img/background.jpg) no-repeat -300px -300px;
	}
}

@media only screen and (max-width:1000px) {
	body{
		background: url(../img/background.jpg) no-repeat -500px -300px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.about_text{
		width: 100%;
	}
}

/* 页首标题 */
h1{
	text-align: center;
	color: #1A759F;
}

/* 歌词标题 */
h5{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}
/* 经文 */
h6{
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* 横线 */
hr{
	border: 1px solid orange;
	width: 300px;
	margin-top: 15px;
}

#lyric{
	width: 300px;
	text-align: center;
	height: 300px;
	overflow: scroll;
	color: #21252b;
}

/* 音乐展示模块 */
#music_block{
	padding-top: 10px;
	height: 400px;
	overflow: scroll;
}

/* #title_img{
	width: 150px;
} */

/* 渐变颜色的横线 */
.line{
	width:320px;
	height:1px;
	background: -webkit-linear-gradient(left, #fbe8b7 -4%,#f9d8b9 50%,#fbe8b7 100%);
}

/* 主页三个大按钮 */
.main_btn_block{
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: -10px;
}

/* 歌曲按钮 */
.main_page_btn{
	display: inline-block;
}

/* 按钮播放图标 */
.main_page_btn img{
	display: block;
	width: 100px;
}

/* 主页大按钮图标大小对齐以及排列间隔对齐 */
#btn1{
	margin-right: 30px;
}
#btn2{
	margin-right: 45px;
}

#btn1 img{
	width: 90px;
}
#btn2 img{
	width: 80px;
	margin-bottom: 6px;
}

#btn3 img{
	width: 62px;
	margin-bottom: 15px;
}

/* 歌曲播放按钮小方块 */
.little_block{
	margin: 0 auto;
	padding-top: 2px;
	padding-bottom: 13px;
	padding-right: 13px;
	height: 40px;
	width: 300px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 20px;
	box-shadow:silver 0px 0px 10px;
	border: #C0C0C0 solid 1px;
	transform: scale(1);
	transition: transform 0.5s ease 0s; 
	margin-bottom: 25px;
	border: cadetblue 1px solid;
}

.little_block:hover{
	transform: scale(1.05);
}

.little_block:visited{
	transform: scale(1);
}
.little_block:active{
	transform: scale(1);
}

.little_block span{
	line-height: 52px;
	margin-left: 20px;
}

.playImg{
	margin-top: 8px;
	width: 35px;
	float: right;
}

/* 背景色 */
.bg1{
	background-color: #d9ed92;
}
.bg2{
	background-color: #b5e48c;
}
.bg3{
	background-color: #99d98c;
}
.bg4{
	background-color: #76c893;
}
.bg5{
	background-color: #52b69a;
}
.bg6{
	background-color: #34a0a4;
}
.bg7{
	background-color: #168aad;
}
.bg8{
	background-color: #1a759f;
}
.bg9{
	background-color: #1e6091;
}
.bg10{
	background-color: #184e77;
}

